.row {
    width: 100%;
    margin: auto !important;
    padding: 0;
}

.texts {
    text-align:center
}

.card {
    display:flex;
    align-items: center;
    margin:5px;
}

.screenshot {
    height:20em;
    width:auto;
    object-fit: cover;
    border:1px black solid;
    margin-top:5px;
    
}